<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0UeHTZfSF509Vnf9UvSxBNm4YPWoaK4w</string>
	<key>GCM_SENDER_ID</key>
	<string>426601418126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silver.ocrcheckin</string>
	<key>PROJECT_ID</key>
	<string>o-c-r-check-in-m5w9po</string>
	<key>STORAGE_BUCKET</key>
	<string>o-c-r-check-in-m5w9po.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426601418126:ios:16f86c3df7fe85f90368df</string>
</dict>
</plist>